<!DOCTYPE html>
<html>

<head lang="uk">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <meta name="description" content="<%=description%>"/>
    <link rel="shortcut icon"  type="images/x-icon" href="/assets/images/favicon.ico" >
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154016757-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        let phone = localStorage.getItem("phone");
        if (phone) {
            gtag('config', 'UA-154016757-1',{'user_id':phone});
            gtag('set', {'user_id': phone});
        }
        else {
            gtag('config', 'UA-154016757-1');
        }
        gtag('event', 'page_view', { 'send_to': 'UA-154016757-1' });
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >

    <!-- LESS основний файл -->
<!--    <link rel="stylesheet" type="text/css" href="/assets/less/all.css" />-->
    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="/assets/less/main.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.1.1/less.min.js" integrity="sha512-mE4RWRhILuNDWPx8sl5Q739XNbibSUZP9dEjdepzpYVw1kDco9ZZ5l/+KHAMffzXNHnmSWexMSN+OX137tNL5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>
    <!-- LESS JavaScript компілятор -->
    <!--style for text-->
<!--    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">-->
    <!--font awesome-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '446478622679823');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=446478622679823&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="tracktop.com.ua/images/category_placeholders/<%= photo_location %>"/>
    <meta property="og:description" content="<%= description %>"/>
    <meta property="og:locale" content="uk_UA">

    <script data-ad-client="ca-pub-3700570185209972" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <% include common/header.ejs %>

    <div id="main">
        <div class="narrow-wrapper padding-wrapper">
        <%include breadcrumbs.ejs%>
            <h1 class="header-main"><%= name %></h1>

<!--            <div class='type_header'>-->
<!--            <h1 class="h1_header "><%= name %></h1>-->
<!--        </div>-->

        <% if(name!="Запчастини до комбайнів"){ %>
            <% include common/searchBarEquipments.ejs %>
                    <div class="nothing_found">
                        <div class="nothing_found_title">Нічого не знайдено.</div>
                        <div class="nothing_found_subtitle">Напишіть повідомлення, щоб замовити товар</div>
                        <img class="nothing_found_img" src="/assets/images/nothing_found.jpg"/>
                    </div>
                    <div class="equipments">
            </div>

                <div id="description_technic_equipment" style="height: 300px; display: none"></div>
                <% if(name=="Запчастини до пресів-підбирачів"){ %>
        <div id="hide_desc" style="display: none">
        </div>
                <% } else if(name.toString().startsWith("Запчастини до комбайна")) {%>
                        <ul id="pagination" class="pagination justify-content-center mt-5">
                        </ul>
                <% if(page == 1) { %>
                    <div id="hide_desc" class="descr_bottom">
                        <h4><i>Запчастини до зернозбирального комбайна <%= mark %> <%= model %>
                                <% if(mark_ukr && model_ukr){ %>
                                   / <%=mark_ukr + " " + model_ukr%>
                                    <% } %>
                                .</i> </h4>
                        <p class="mt-3">
                        На нашому сайті ви знайде майже всі ходові <%= name.toString().toLowerCase() %>. Якщо ж запчастини немає на
                        складі, то ми постараємось доставити її у найкоротші терміни. Ми виставляємо реальні фото запчастин
                        до комбайнів, які ми продаємо.
                        </p>
                        <p class="mt-3">
                        Запчастини до комбайнів - це один з основних напрямків, на якому ми спеціалізуємось.
                        У нас великий склад і відмінна якість запчастин до комбайнів <%= mark %>. Ми продаємо як і оригінальні
                        запчастини до комбайнів так і високоякісні аналоги. Якщо у вас сталась поломка комбайна зернозбирального і ви шукаєте запасну частину, то телефонуйте за номером, який розміщений у розділі контатки.
                        Ми постараємось допомогти вам вирішити проблему.
                        </p>
                    </div>
                    <% } %>
                <% } %>
        <% }else{ %>
            <div class="marks">
                <div class="oneCategoryWrapper col-xs-12 col-sm-6 col-md-4 col-lg-4"
                     data-url="/category_equipments/category/combine_details/Massey Ferguson">
                    <div class="oneCategory oneCategoryMark">
                        <div class="category-header">
                            <h2 class="category_name">
                                    <a href="/category_equipments/category/combine_details/Massey Ferguson">
                                        Massey Ferguson
                                    </a>
                            </h2>
                            <div class="action">
                                <div class="button-action-category">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <img class="" src="/images/marks_photos/massey-ferguson.png" alt="Запчастини до комбайнів Massey Ferguson. Запчасти для комбайнов Massey Ferguson">
                    </div>
                </div>
                <div class="oneCategoryWrapper col-xs-12 col-sm-6 col-md-4 col-lg-4" data-url="/category_equipments/category/combine_details/Claas">
                    <div class="oneCategory oneCategoryMark">
                        <div class="category-header">
                            <h2 class="category_name"><div>
                                    <a href="/category_equipments/category/combine_details/Claas">
                                        <span class="" style="color: black">Claas</span>
                                    </a>
                                </div>
                            </h2>
                            <div class="action">
                                <div class="button-action-category">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <img class="" src="/images/marks_photos/claas.png" alt="Запчастини до комбайнів Claas. Запчасти для комбайнов Claas">
                    </div>
                </div>

                <div class="oneCategoryWrapper col-xs-12 col-sm-6 col-md-4 col-lg-4" data-url="/category_equipments/category/combine_details/John Deere">
                    <div class="oneCategory oneCategoryMark">
                        <div class="category-header">
                            <h2 class="category_name"><div>
                                    <a href="/category_equipments/category/combine_details/John Deere">
                                        <span class="" style="color: black">John Deere</span>
                                    </a>
                                </div>
                            </h2>
                            <div class="action">
                                <div class="button-action-category">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <img class="" src="/images/marks_photos/john-deere.png" alt="Запчастини до комбайнів John Deere. Запчасти для комбайнов John Deere">
                    </div>
                </div>
                </div>
            </div>
        <section class="descr_bottom">
            <div class="narrow-wrapper padding-wrapper">
                <div class="row no-gutters">
                    <div class="col-12 col-lg-6 col-left-background-equipments-categories col-left-background-equipments-marks">
                    </div>
                    <div class="col-12 col-lg-6 col-right-equipments">
                        <h2 class="title">Запчастини до зернозбиральних комбайнів</h2>
                        <p class="">На нашому сайті ви знайде майже всі ходові запчастини до комбайнів. Якщо ж запчастини немає на
                            складі, то ми постараємось доставити її у найкоротші терміни. Ми показуємо реальні фото запчастин
                            до комбайнів, які ми продаємо.</p>
                        <p class="">
                            Запчастини до комбайнів - це один з основних напрямків, на якому ми спеціалізуємось.
                            У нас великий склад і відмінна якість запчастин до комбайнів Claas (Клаас), Massey Ferguson(Массей Фергюсон), John Deere (Джон Дір). Ми продаємо як і оригінальні
                            запчастини до комбайнів так і високоякісні аналоги.
                        </p>
                        <p class="">
                            Якщо у вас сталась поломка комбайна зернозбирального і ви шукаєте запасну частину, то телефонуйте за номером, який розміщений у розділі контатки.
                            Ми постараємось допомогти вам вирішити проблему.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <% } %>

        </div>
    </div>
        <!-- jQuery JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

        <!--Bootsrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/assets/js/equipmentsByCategory.js"> </script>
        <script  src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>

        <script type="text/javascript" src="/assets/js/jcookieph_call.js"></script>
        <script type="text/javascript" src="/assets/js/maskph_call.js"></script>

        <% include common/footer-ad-subscribe.ejs %>
        <% include common/footer.ejs %>
</body>

</html>