<!DOCTYPE html>
<html>

<head lang="uk">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>

    <% if(description) { %>
    <meta name="description" content="<%= description %>">
    <%}%>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= pageTitle %>"/>
    <meta property="og:image" content="tracktop.com.ua/images/technics/<%=photo_location%>"/>
    <meta property="og:description" content="<%= description %>"/>
    <meta property="og:locale" content="uk_UA">
    <link rel="shortcut icon"  type="images/x-icon" href="/assets/images/favicon.ico" >

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154016757-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        let phone = localStorage.getItem("phone");
        if (phone) {
            gtag('config', 'UA-154016757-1',{'user_id':phone});
            gtag('set', {'user_id': phone});
        }
        else {
            gtag('config', 'UA-154016757-1');
        }
        gtag('event', 'page_view', { 'send_to': 'UA-154016757-1' });
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KS45HK4');</script>
    <!-- End Google Tag Manager -->
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >

    <link rel="stylesheet" type="text/css" href="/assets/less/fancybox.css"/>
<!--    <script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js"></script>-->

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="/assets/less/main.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.1.1/less.min.js" integrity="sha512-mE4RWRhILuNDWPx8sl5Q739XNbibSUZP9dEjdepzpYVw1kDco9ZZ5l/+KHAMffzXNHnmSWexMSN+OX137tNL5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '446478622679823');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=446478622679823&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->
    <script data-ad-client="ca-pub-3700570185209972" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <% include common/header.ejs %>
    <% include common/message.ejs %>

<div id="main">

    <section class="narrow-wrapper one-ad-wrapper  padding-wrapper">
        <header>
            <% include breadcrumbs.ejs %>

            <div class="one-ad-header-wrapper">
                <h1 class='text-black-title-900-uppercase one-ad-header'>
                    <%= technic.name %>
                </h1>
                <span class="order-label <%= technic.status.toString().toLowerCase() == "в наявності" ? "order-label-available" : technic.status.toString().toLowerCase() == "під замовлення" ? "order-label-on-demand" :  technic.status.toString().toLowerCase() == "продано" ? "order-label-sold" : "order-label-not-available" %>"><%= technic.status %></span>
            </div>
        </header>
        <main class="one-ad-main-wrapper">
            <div class="row no-gutters">
                <div class="col-lg-8">
                    <div class="one-ad-image-desc-wrapper">
                        <span class="order-label <%= technic.status.toString().toLowerCase() == "в наявності" ? "order-label-available" : technic.status.toString().toLowerCase() == "під замовлення" ? "order-label-on-demand" :  technic.status.toString().toLowerCase() == "продано" ? "order-label-sold" : "order-label-not-available" %>"><%= technic.status %></span>

                        <div class="slider">
                            <div class="slider__wrapper">
                            </div>
                            <a class="slider__control slider__control_left" href="#" role="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="31" viewBox="0 0 36 31" fill="none">
                                    <g filter="url(#filter0_d_611_5033)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7008 27.4193L3.39933 16.1178C2.70582 15.4243 2.70582 14.2999 3.39933 13.6063L14.7009 2.30483C15.3944 1.61131 16.5188 1.61131 17.2123 2.30483C17.9058 2.99835 17.9058 4.12276 17.2123 4.81628L8.94237 13.0862L31.293 13.0862C32.2738 13.0862 33.0689 13.8813 33.0689 14.8621C33.0689 15.8429 32.2738 16.6379 31.293 16.6379L8.94237 16.6379L17.2123 24.9079C17.9058 25.6014 17.9058 26.7258 17.2123 27.4193C16.5188 28.1128 15.3944 28.1128 14.7008 27.4193Z" fill="#D5E6CD"/>
                                    </g>
                                    <defs>
                                        <filter id="filter0_d_611_5033" x="0.879211" y="0.785156" width="34.1896" height="30.1543" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                            <feOffset dy="1"/>
                                            <feGaussianBlur stdDeviation="1"/>
                                            <feComposite in2="hardAlpha" operator="out"/>
                                            <feColorMatrix type="matrix" values="0 0 0 0 0.791667 0 0 0 0 0.791667 0 0 0 0 0.791667 0 0 0 0.65 0"/>
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_611_5033"/>
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_611_5033" result="shape"/>
                                        </filter>
                                    </defs>
                                </svg>
                            </a>
                            <a class="slider__control slider__control_right slider__control_show" href="#" role="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="31" viewBox="0 0 36 31" fill="none">
                                    <g filter="url(#filter0_d_611_5030)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.2992 2.3053L32.6007 13.6068C33.2942 14.3003 33.2942 15.4247 32.6007 16.1183L21.2991 27.4198C20.6056 28.1133 19.4812 28.1133 18.7877 27.4198C18.0942 26.7263 18.0942 25.6018 18.7877 24.9083L27.0576 16.6384L4.70701 16.6384C3.72623 16.6384 2.93115 15.8433 2.93115 14.8625C2.93115 13.8818 3.72623 13.0867 4.70701 13.0867L27.0576 13.0867L18.7877 4.81675C18.0942 4.12323 18.0942 2.99881 18.7877 2.3053C19.4812 1.61178 20.6056 1.61178 21.2992 2.3053Z" fill="#A9CD53"/>
                                    </g>
                                    <defs>
                                        <filter id="filter0_d_611_5030" x="0.931152" y="0.785156" width="34.1896" height="30.1543" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                            <feOffset dy="1"/>
                                            <feGaussianBlur stdDeviation="1"/>
                                            <feComposite in2="hardAlpha" operator="out"/>
                                            <feColorMatrix type="matrix" values="0 0 0 0 0.791667 0 0 0 0 0.791667 0 0 0 0 0.791667 0 0 0 0.65 0"/>
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_611_5030"/>
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_611_5030" result="shape"/>
                                        </filter>
                                    </defs>
                                </svg>
                            </a>
                        </div>

                        <div class="one-ad-description one-ad-technic-description">
                            <div class="one-ad-info-label">Опис</div>
                            <div class="description_technic"> <%- technic.description %></div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="one-ad-information">
                        <div class="one-ad-info-row">
                            <span class="one-ad-info-label">Ціна</span>
                            <span class="one-ad-info-value one-ad-info-value-price"><%= technic.price %> <%=technic.currency.toString() == "гривня" ? "грн" : technic.currency.toString() == "долар" ? "$" : "$" %></span>
                        </div>
                        <div class="one-ad-info-row">
                            <span class="one-ad-info-label">Рік випуску</span>
                            <span class="one-ad-info-value one-ad-info-value-year"><%= technic.production_date%></span>
                        </div>
                        <span class="hr-line-menu-popup"></span>

                    </div>

                    <% include common/message_column.ejs %>
                </div>

            </div>
        </main>
        <footer></footer>
    </section>

</div>


<!--    <div id="main" class="container-fluid">-->
<!--        <%include breadcrumbs.ejs%>-->
<!--        <h1>-->
<!--            <div class="header-technic">-->
<!--        <div class='type_header'>-->
<!--            <%= name %>-->
<!--        </div>-->
<!--            </div>-->
<!--        </h1>-->
<!--        <div>-->
<!--            <div class="slider">-->
<!--                <div class="slider__wrapper">-->

<!--                </div>-->
<!--                <a class="slider__control slider__control_left" href="#" role="button"></a>-->
<!--                <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; !&ndash;&gt;-->

<!--        <div class="btn_row">-->
<!--            <button class="btn btn-secondary" onclick="openMessageModal();">-->
<!--                <i class="	fas fa-envelope"></i>Написати</button> </div>-->



<!--        <div class="information">-->
<!--            &lt;!&ndash;-->
<!--    <table>-->
<!--        <tr><th><i><span class="header_type">Ціна</span></i></th><td><%= technic.price %>  <% if(technic.currency.toString() == "гривня") { %>-->
<!--                    грн-->
<!--                <%}%>-->

<!--                <% if(technic.currency.toString() == "долар") { %>-->
<!--                    $-->
<!--                <%}%></td></tr>-->
<!--        <tr><td>данные</td><td>данные</td></tr>-->
<!--    </table>-->

<!--!&ndash;&gt;-->

<!--            <div class="row_info" style="display: block;margin: auto"><i><span class="header_type">Ціна</span></i><span class="type_description">-->
<!--                    <%= technic.price %> <% if(technic.currency.toString() == "гривня") { %>-->
<!--                    грн-->
<!--                    <%}%>-->

<!--        <% if(technic.currency.toString() == "долар") { %>-->
<!--                    $-->
<!--                    <%}%> </span></div>-->

<!--    <% if(technic.production_date) { %>-->
<!--                    <div class="row_info float_left"><i><span class="header_type">Рік випуску</span></i> <span-->
<!--                            class="type_description"><%= technic.production_date%> </span> </div>-->
<!--                    <%}%>-->
<!--    &lt;!&ndash;-->
<!--    <% if(technic.country_producer) { %>-->
<!--                    <div class="amount"><i><span class="header_type">Виробник</span></i> <%= technic.country_producer%>-->
<!--                    </div>-->
<!--                    <%}%>-->
<!--    <div class="amount"><i><span class="header_type">Кількість</span></i> <%= technic.amount %></div>-->
<!--            <% if(technic.description) { %>-->
<!--            <div class="description"><i><span class="header_type"></span>Опис</i> <%= technic.description %></div>-->
<!--            <%}%>-->
<!--    !&ndash;&gt;-->


<!--</div>-->
<!--    <% if(technic.description) { %>-->
<!--            <div class="description_technic">-->
<!--                <div id="view-editor"></div>-->
<!--            </div>-->
<!--            <%}%>-->

<!--</div>-->


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<script src="//cdn.quilljs.com/1.0.0/quill.min.js"></script>

<script type="text/javascript" src="/assets/js/oneTechnicMain.js"> </script>
<script  src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
<script type="text/javascript" src="/assets/js/jcookieph_call.js"></script>
<script type="text/javascript" src="/assets/js/maskph_call.js"></script>

<% include common/footer-ad-subscribe.ejs %>
<% include common/footer.ejs %>
</body>
</html>