<div class="oneTechnic">
    <div class="thumbnail  one_equipment technic-card">
        <img class="lazy" src="https://via.placeholder.com/440x300?text=<%= equipment.name %>" data-src="/images/equipments/<%= equipment.main_photo_location %>"
            <% if(equipment.technic_type=="Комбайни"){ %>
             alt ="Купити <%= equipment.name %> до комбайна <%= equipment.technic_mark %> <%= equipment.model %>
         ( <%=equipment.mark_name_ukr%>
        <% if(equipment.model_ukr){ %><%=equipment.model_ukr%>
        <% } else {%><%= equipment.model %>  <% } %>)"
    <%} else { %> alt="<%= equipment.name %>"
                <%}%>>

        <div class="caption captionEquipment">
            <div class="nameEquipment">
                <a href="<%= equipment.url %>">

                <h3 class="child_name"><%= equipment.name %>
                    </h3>
                </a>
            </div>

             <% if(!equipment.vendor_code){ %>
                        <div class="price" style="height:40px;">

                        <% } else {%>
                              <div class="price"> <% } %>
                        <div class="price_equipment"><i>Ціна</i></div> <span class="equipment_info"><%= equipment.price_uah %> грн

                                      <!--                            <% if(equipment.currency.toString() == "гривня") { %>-->
<!--                                грн-->
<!--                            <%}%>-->

<!--                            <% if(equipment.currency.toString() == "долар") { %>-->
<!--                                $-->
<!--                            <%}%>-->
                            </span>
                        </div>

                        <!--
            <div class="amount"><i>Кількість:</i> <%= equipment.amount %></div>
            <div class="state"><i>Стан:</i> <%= equipment.state %></div>
                        !-->
                         <% if( equipment.vendor_code){ %>

                          <div class="vendor_code"><div class="vendor_code_label"><i>Артикул</i></div> <span class ="equipment_info"><%= equipment.vendor_code %> </span></div>
                           <% } %>

        </div>
    </div>

</div>

</div>